# The author disclaims copyright to this source code.
menu "Application Configuration"

config GPIO_BLINK
    int "GPIO pin for blinking LED (0-44)"
    default 2
    range 0 44
    help
        Select the GPIO pin for blinking LED (0-44).

config GPIO_HSPI_CLK
    int "GPIO pin for HSPI CLK (0-44)"
    default 14
    range 0 44
    help
        Select the GPIO pin for HSPI CLK (0-44).

config GPIO_HSPI_MOSI
    int "GPIO pin for HSPI MOSI (0-44)"
    default 13
    range 0 44
    help
        Select the GPIO pin for HSPI MOSI (0-44).

config GPIO_HSPI_MISO
    int "GPIO pin for HSPI MISO (0-44)"
    default 12
    range 0 44
    help
        Select the GPIO pin for HSPI MISO (0-44).

config GPIO_DSP_XDCS
    int "GPIO pin for DSP data CS (0-44)"
    default 15
    range 0 44
    help
        Select the GPIO pin for DSP data CS (0-44).

config GPIO_DSP_XCS
    int "GPIO pin for DSP control CS (0-44)"
    default 4
    range 0 44
    help
        Select the GPIO pin for DSP control CS (0-44).

config GPIO_VSPI_CLK
    int "GPIO pin for VSPI CLK (0-44)"
    default 18
    range 0 44
    help
        Select the GPIO pin for VSPI CLK (0-44).

config GPIO_VSPI_MOSI
    int "GPIO pin for VSPI MOSI (0-44)"
    default 23
    range 0 44
    help
        Select the GPIO pin for VSPI MOSI (0-44).

config GPIO_VSPI_MISO
    int "GPIO pin for VSPI MISO (0-44)"
    default 19
    range 0 44
    help
        Select the GPIO pin for VSPI MISO (0-44).

config GPIO_MEM_CS
    int "GPIO pin for MEM CS (0-44)"
    default 5
    range 0 44
    help
        Select the GPIO pin for MEM CS (0-44).

config GPIO_I2C_SDA
    int "GPIO pin for I2C SDA (0-44)"
    default 16
    range 0 44
    help
        Select the GPIO pin for I2C SDA (0-44).

config GPIO_I2C_SCL
    int "GPIO pin for I2C SCL (0-44)"
    default 17
    range 0 44
    help
        Select the GPIO pin for I2C SCL (0-44).

config BLINK_ON_MS
    int "Blinking LED ON duration (10-1000) ms"
    default 50
    range 10 1000
    help
        Blinking LED ON duration (10-1000) in ms.

config BLINK_OFF_MS
    int "Blinking LED OFF duration (10-2000) ms"
    default 1950
    range 10 2000
    help
        Blinking LED OFF duration (10-2000) in ms.

endmenu
